<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<%= wicked_pdf_stylesheet_link_tag "timeline" %>
</head>
<body>
<%# title_page %>
<div class="title_page">
<div class="date">
<% start_date = Date.parse(@data.start_date) %>
From
<div class="year">
<%= start_date.year %>
</div>
<div class="month">
<%= start_date.strftime("%m") %>.
</div>
</div>
<div class="book_title">
<%= "#{session[:screen_name]}的微博书" %>
</div>
<div class="poetry">
I leave no trace of wings in the air,<br />
but I am glad I have had my flight.
</div>
</div>

<%# inner_page %>
<div class="page-break"></div>
<% place_left= 1 %>
<% @statuses.each do |status| %>
    <% if status.pic_urls != [] then %>
        <%# status.pic_urls %>
        <div style="border:1px ;clear:both;overflow:hidden;">
        <%# pictures %>
        <% status.pic_urls.each do |pic_url| %>
            <% if place_left == 1 %>
                <p style="text-align:left ">
                <%= DateTime.parse(status.created_at).strftime(
                    "%Y.%m.%d %H:%M") %>
                </p>
                <%= image_tag pic_url.thumbnail_pic, alt: "pic",style:"float:left;" %>
                <% place_left = 0 %>
            <% else %>        
                <p style="text-align:right">
                <%= DateTime.parse(status.created_at).strftime(
                    "%Y.%m.%d %H:%M") %>
                </p>
                <%= image_tag pic_url.thumbnail_pic, alt: "pic",style:"float:right;" %>
                <% place_left = 1 %>
            <% end %>
        <% end %>
        <div style="font-family:FangSong">
        <p style="text-indent:2em">
        <%= status.text %>
        </p></div>
        <br />
    <% end %>
<% end %>
</body>

