<%= form_tag({ action: :create }) do %>
  <div class="statuses">
    <% @statuses.each do |status| %>
      <li><div class="contant"><%= check_box_tag(status.id) %>
	<%= status.text %></div>
	<%# pictures %>
	<% status.pic_urls.each do |pic_url| %>
	  <%= image_tag pic_url.thumbnail_pic, alt: "pic" %>
	<% end %><br />
	<%# unless status.retweeted_status.nil? %>
	  <% #status.retweeted_status %>
	<%# timestamp %>
	<span class="timestamp">
	  <%= DateTime.parse(status.created_at).strftime(
	  "%Y年%m月%d日 %H:%M") %>
	</span>
      </li>
    <% end %>
    <button type="button" id="check_all">全选</button>
  </div>
  <div class="select_template">
  <p>select template:</p>
  	<div class="tempate">
	  <%= radio_button_tag(:tpl, "timeline",true) %>
	  <%= label_tag(:timeline, "timeline") %>
	</div>
	<div class="tempate">
	  <%= radio_button_tag(:tpl, "waterfall") %>
	  <%= label_tag(:waterfall, "waterfall") %>
	</div>
	<div class="tempate">
	  <%= radio_button_tag(:tpl, "newspaper") %>
	  <%= label_tag(:newspaper, "newspaper") %>
	</div>
   </div>
	  <%= submit_tag "Create Book"%>
<% end %>

<script type='text/javascript'>
 $('#check_all').on("click", function(){
   $('input[type="checkbox"]').click();
 });
</script>
