<h1>微博书PDF预览</h1>
<center>
  <%= image_tag 'rails1.png' , :size => '150x150' %>
</center>

<%= form_tag :action => 'send_email' do %>
  <p>请填写您的电子邮箱地址:
    <%= text_field_tag 'email_addr', @addr %></p>
  <center>
    <%= submit_tag '发送到邮箱' %>
  </center>
  <%end%>

<%= form_tag :action => 'down_pdf' do %>
  <center>
    <%= submit_tag '一键下载' %>
  </center>
  <%end%>

<%= form_tag :action => 'share_book' do %>
  <center>
    <%= submit_tag '分享至新浪微博' %>
  </center>
  <%end%>

