<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= wicked_pdf_stylesheet_link_tag "waterfall" %>
</head>
<body>
  <%# title_page %>
  <div class="title_page">
    <div class="date">
      <% start_date = Date.parse(@data.start_date) %>
      From
      <div class="year">
	<%= start_date.year %>
      </div>
      <div class="month">
	<%= start_date.strftime("%m") %>.
      </div>
    </div>
    <div class="book_title">
      <%= "#{session[:screen_name]}的微博书" %>
    </div>
    <div class="poetry">
      I leave no trace of wings in the air,<br />
      but I am glad I have had my flight.
    </div>
  </div>
  <div class="page-break"></div>

 <td><div style="width:100%;height:210mm;"><%= render "timeline.pdf.erb" %></div></td><div class="page-break"></div>
 <div class="contant">

 <% @statuses.each_slice(2) do |slice| %>
 <table>
	<% slice.each do |status| %>
		<%=if DateTime.parse(status.created_at).strftime("%H") == "11" 
			
			end
		%>
		<td><div class="status">
			<p class="text"><%= status.text %></p>
			<%# pictures %>
			<% status.pic_urls.each do |pic_url| %>
			  <%= image_tag pic_url.thumbnail_pic, alt: "pic" ,style:"max-width:60mm;"%>
			<% end %>
			<%# retweeted_status %>
			<% unless status.retweeted_status.nil? %>
			<div class="retweeted_status">
				<em class="S_line1_c">◆</em>
				<table><td>
					<div class="ret_status">
						<p class="ret_user"><%= status.retweeted_status.user %></p>
						<p class="re_text"><%= status.retweeted_status.text %></p>
						<%  status.retweeted_status.pic_urls.each do |pic_url| %>
		  				<%= image_tag pic_url.thumbnail_pic, alt: "pic" ,style:"max-width:58mm;align:center;"%>
						<% end %>
					</div>
				</td></table>
			</div>
			<% end %>
			<%# timestamp %>
			<div class="timestamp">
			 @<%= DateTime.parse(status.created_at).strftime(
			  "%Y年%m月%d日 %H:%M") %>
			</div>
		</div></td>
	<% end %>
 </table>
 <% end %>
</div>
  <%# inner_page %>
  
</body>
